.addKeg {
    margin-top: 200px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.addKegbtn {
    float: right;
}
.almostOutIndicator {
    color: red;
}
.editButton {
    font-size: 10px;
}
.lowpintPrice{
    background-color: blue;
}
.mediumpintPrice{
    background-color: brown;
}
.highpintPrice{
    background-color: gold;
}
.kegPrice{
    background-color: yellowgreen;
}
.abv{
    background-color: purple;
}