<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some of our kegs: </h2>
<ul>
  <li *ngFor="let keg of kegList">
    {{ keg.name }} <b>${{ keg.price }}</b>
  </li>
</ul>
<div class="addKeg">
  <label>Name of Brew:</label>
  <input type="text"[(ngModel)]="name">
  <label>Brand:</label>
  <input type="text"[(ngModel)]="brand">
  <label>Price per pint:</label>
  <input type="number"[(ngModel)]="pint">
  <label>Price per keg:</label>
  <input type="number"[(ngModel)]="keg">
  <label>Alcohol content:</label>
  <input type="number"[(ngModel)]="abv">
  <button (click)="createKeg(name, brand, pint, keg, abv)">Add Keg</button>
</div>